In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import ttest_ind
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn import linear_model

In [2]:
# Load dataset from vgsales.csv and display first five rows
sales_data = pd.read_csv('vgsales.csv')
sales_data.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [4]:
# Load dataset from vgratings.csv and display first five rows
ratings_data = pd.read_csv('vgratings.csv')
ratings_data.head()

,Pos,Name,Platform,Publisher,Developer,VGChartz Score,Critic Score,User Score,Total Shipped,Total Sales,NA Sales,PAL Sales,Japan Sales,Other Sales,Release Date,Last Update
0,1,Super Mario Galaxy,Wii,Nintendo,Nintendo EAD Tokyo,9.6,9.7,9.6,12.80m,NaN,NaN,NaN,NaN,NaN,12th Nov 07,NaN
1,2,Super Mario Galaxy 2,Wii,Nintendo,Nintendo EAD Tokyo,9.6,9.7,9.8,7.41m,NaN,NaN,NaN,NaN,NaN,23rd May 10,NaN
2,3,Mass Effect 2,PC,Electronic Arts,BioWare Corp.,9.5,9.6,NaN,NaN,0.39m,0.01m,0.32m,NaN,0.05m,26th Jan 10,NaN
3,4,Mass Effect 2,X360,Electronic Arts,BioWare Edmonton,9.5,9.5,8.9,NaN,3.10m,1.99m,0.81m,0.03m,0.27m,26th Jan 10,NaN
4,5,Metal Gear Solid 4: Guns of the Patriots,PS3,Konami,Kojima Productions,9.5,9.3,9.8,6.00m,NaN,NaN,NaN,NaN,NaN,12th Jun 08,NaN